name: "checks"

on:
  pull_request:
  push:
    branches: 
      - "main"
    paths:
      - "**.nix"
      - "flake.lock"
      - ".github/workflows/checks.yml"

permissions:
  id-token: "write"
  contents: "read"

jobs:
  flake:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/flake-checker-action@main
        with:
          fail-mode: true
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Run nix flake check
        run: nix flake check
      - name: Build personal darwin system
        run: nix build .#darwinConfigurations.personal.system
